@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom styles */
.carousel .slick-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-image {
    height: 300px;
  }
}

.typing-animation {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid orange;
  /* Cursor effect */
  animation: typing 5s steps(40, end) infinite, blink .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  display: flex;
  animation: slide 30s linear infinite;
  width: calc(200% + 16px);
}

.animate-slide>div {
  flex-shrink: 0;
  width: 25%;
}